name: Specmatic Insights Central Contract Repo Report

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Generate central contract repo report
        run: |
          docker run -v "$(pwd):/usr/src/app" \
            specmatic/specmatic \
            central-contract-repo-report

      - name: Save Specmatic license
        run: |
          mkdir -p ~/.specmatic
          echo "${{ secrets.SPECMATIC_LICENSE_KEY }}" > ~/.specmatic/specmatic-license.txt

      - name: Publish Build Report to Specmatic Insights
        run: |
          docker run \
            -v $(pwd):/usr/src/app \
            -v ~/.specmatic:/root/.specmatic \
            specmatic/specmatic \
            send-report \
            --metadata build_url=${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }} \
            --branch-name ${{ github.ref_name }} \
            --repo-name ${{ github.event.repository.name }} \
            --repo-id ${{ github.repository_id }} \
            --repo-url ${{ github.event.repository.html_url }}
