name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    name: Check API Contracts
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: '25'

      - name: Get changed OpenAPI files
        id: changed-openapi-files
        uses: tj-actions/changed-files@v47
        with:
          files: |
            io/**/openapi/**/*.yaml
            io/**/openapi/**/*.yml
            io/**/openapi/**/*.json

      - name: Get changed GraphQLS files
        id: changed-graphqls-files
        uses: tj-actions/changed-files@v47
        with:
          files: |
            io/**/graphql/**/*.graphqls
            io/**/graphql/**/*.yaml

      - name: Get changed gRPC files
        id: changed-grpc-files
        uses: tj-actions/changed-files@v47
        with:
          files: |
            io/**/grpc/**/*.proto
            io/**/grpc/**/*.json

      - name: Install Spectral Linter
        if: steps.changed-openapi-files.outputs.any_changed == 'true'
        run: npm install -g @stoplight/spectral-cli

      - name: Run Spectral linter on changed files
        if: steps.changed-openapi-files.outputs.any_changed == 'true'
        run: |
          echo "Running Spectral linter on: ${{ steps.changed-openapi-files.outputs.all_changed_files }}"
          # Find all YAML files in openapi sub-directory
          find io -type f -path '*/openapi/*' -iname '*.yaml' | xargs spectral lint

      - name: Create environment file
        run: |
          echo "GITHUB_SHA=${{ github.sha }}" >> env.list
          echo "GITHUB_REPOSITORY=${{ github.repository }}" >> env.list
          echo "GITHUB_ACTOR=${{ github.actor }}" >> env.list
          echo "GITHUB_WORKFLOW=${{ github.workflow }}" >> env.list
          echo "GITHUB_HEAD_REF=${{ github.head_ref }}" >> env.list
          if [ -z "${{ github.base_ref }}" ]; then
              echo "GITHUB_BASE_REF=${{ github.ref }}" | sed 's/refs\/heads\///' >> env.list
          else
            echo "GITHUB_BASE_REF=${{ github.base_ref }}" >> env.list
          fi     

      - name: Validate OpenAPI examples
        run: |
          docker run -v "$(pwd):/usr/src/app" \
            specmatic/specmatic \
            examples validate --specs-dir=io/specmatic/examples/store/openapi

      - name: Run OpenAPI backward compatibility check on changed files
        if: steps.changed-openapi-files.outputs.any_changed == 'true'
        run: |
          docker run -v "$(pwd):/usr/src/app" \
            --user $(id -u):$(id -g) \
            --env-file env.list \
            specmatic/specmatic \
            backward-compatibility-check --target-path=io/specmatic/examples/store/openapi --base-branch=origin/main

      - name: Run GraphQL backward compatibility check on changed files
        if: steps.changed-graphqls-files.outputs.any_changed == 'true'
        run: |
          docker run -v "$(pwd):/usr/src/app" \
            --user $(id -u):$(id -g) \
            --env-file env.list \
            specmatic/specmatic-graphql \
            backward-compatibility-check --target-path=io/specmatic/examples/store/graphql --base-branch origin/main

      - name: Run gRPC backward compatibility check on changed files
        if: steps.changed-grpc-files.outputs.any_changed == 'true'
        run: |
          docker run -v "$(pwd):/usr/src/app" \
            --user $(id -u):$(id -g) \
            --env-file env.list \
            specmatic/specmatic-grpc \
            backward-compatibility-check --target-path=io/specmatic/examples/store/grpc --base-branch origin/main
